body {
    margin: 100px;
    background-color: beige;
}

#buttons {
    display: flex;
    flex-flow: column;
    gap: 20px;
}

#content {
    display: flex;
    justify-content: center;
    gap: 60px;
    max-width: 1100px;
    /* align-items: center; */
}


#container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    min-height: 600px;
    min-width: 600px;
    max-height: 600px;
    min-width: 600px;
    
}

#square {
    border: solid 2px black;
    /* color: white; */
    
}

.activated {
    background-color: black;
}


button {
    height: 50px;
    width: 100px;
}