
@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@400;600&display=swap');

body {
    margin: 100px;
    background-color: beige;
}
h1 {
    font-family: 'Cairo Play', cursive;
    text-align: center;
    font-weight: 600;
}
p {
    font-family: 'Cairo Play', cursive;
}
#container {
    display: grid;
    border: solid 3px #654321;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    min-height: 600px;
    min-width: 600px;
    max-height: 600px;
    min-width: 600px;
    
}

.square {
    border: solid 1px #654321;
    /* color: white; */
    
}

.active {
    background-color: black;
}


#buttons {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 30px;
}

button {
    border: solid 2px #654321;
    height: 50px;
    width: 100px;
    font-family: 'Cairo Play', cursive;
    font-weight: 600;
    transition-duration: 0.4ms;
}

button:hover {
    background-color: lightgrey;

}

button:active {
    background-color: grey
}

.currentmode {
    background-color: lightgrey;
}

#content {
    display: flex;
    justify-content: center;
    gap: 60px;
    max-width: 1100px;
    /* align-items: center; */
}

#top-content {
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


#inputfield {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#gridnum {
    height: 25px;
    width: 100px;
    border: solid 2px #654321;
}

#gengrid {
    height: 30px;
}

.slidecontainer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 200px;
}

.slider {
    -webkit-appearance: none;
    width: 90%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #228b22;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #228b22;
    cursor: pointer;
  }

  #slidervalue {
    font-weight: 600;
  }







